<a href="https://colab.research.google.com/github/alpeshyadav/Internship/blob/master/logistic_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import pickle
from sklearn.linear_model import LogisticRegression

In [ ]:
def logistic_regression(X, y, seed=None):
  with open('./sample_data/ouputfile', 'wb') as f:
    pickle.dump(LogisticRegression(random_state = seed).fit(X, y), f)

In [ ]:
def predict(data):
  with open('./sample_data/ouputfile', 'rb') as f:
    logistic_regression = pickle.load(f)
  return logistic_regression.predict(data)

In [ ]:
def accuracy(X, y):
  with open('./sample_data/ouputfile', 'rb') as f:
    logistic_regression = pickle.load(f)
  return logistic_regression.score(X, y)

In [ ]:
dataset = pd.read_csv('./sample_data/datasets_internet_data.csv')

In [ ]:
dataset.head(10)

   state  account_length  ...  number_customer_service_calls  class
0     16             128  ...                              1      0
1     35             107  ...                              1      0
2     31             137  ...                              0      0
3     35              84  ...                              2      0
4     36              75  ...                              3      0
5      1             118  ...                              0      0
6     19             121  ...                              3      0
7     24             147  ...                              0      0
8     18             117  ...                              1      0
9     49             141  ...                              0      0

[10 rows x 21 columns]

In [ ]:
dataset = dataset[['total_day_minutes', 'total_day_charge', 'number_customer_service_calls', 'total_eve_minutes', 'international_plan', 'class']]

In [ ]:
dataset.head()

   total_day_minutes  total_day_charge  ...  international_plan  class
0              265.1             45.07  ...                   0      0
1              161.6             27.47  ...                   0      0
2              243.4             41.38  ...                   0      0
3              299.4             50.90  ...                   1      0
4              166.7             28.34  ...                   1      0

[5 rows x 6 columns]

In [ ]:
target = dataset[['class']].values.ravel()

In [ ]:
features = dataset[['total_day_minutes', 'total_day_charge', 'number_customer_service_calls', 'total_eve_minutes', 'international_plan']]

In [ ]:
logistic_regression(features, target)

In [ ]:
data = np.array([166.7, 28.34, 3,	18.3, 1])
data.resize(1,5)
print(f'Prediction on values {data} is {predict(data)[0]}')
print(f'Accuracy: {accuracy(data, [0])}')

Prediction on values [[166.7   28.34   3.    18.3    1.  ]] is 0
Accuracy: 1.0