<a href="https://colab.research.google.com/github/alpeshyadav/Internship/blob/master/polynomial_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import numpy as np
import pandas as pd
import pickle
import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
from sklearn.metrics import r2_score
import matplotlib.pyplot as plt

In [14]:
def linear_regression(X, y, seed=None):
  with open('./sample_data/ouputfile', 'wb') as f:
    poly = PolynomialFeatures(degree = 2) 
    X_poly = poly.fit_transform(X) 
    poly.fit(X_poly, y) 
    pickle.dump(LinearRegression().fit(X_poly, y), f)

In [15]:
def predict(data):
  with open('./sample_data/ouputfile', 'rb') as f:
    linear_regression = pickle.load(f)
    poly = PolynomialFeatures(degree = 2) 
  return linear_regression.predict(poly.fit_transform(data))

In [16]:
def accuracy(y1, y2):
  return r2_score(y1, y2)

In [17]:
dataset = pd.read_csv('./sample_data/cruise_ship_info.csv')

In [18]:
dataset.head(10)

     Ship_name Cruise_line  Age  ...  cabins  passenger_density   crew
0      Journey     Azamara    6  ...    3.55              42.64   3.55
1        Quest     Azamara    6  ...    3.55              42.64   3.55
2  Celebration    Carnival   26  ...    7.43              31.80   6.70
3     Conquest    Carnival   11  ...   14.88              36.99  19.10
4      Destiny    Carnival   17  ...   13.21              38.36  10.00
5      Ecstasy    Carnival   22  ...   10.20              34.29   9.20
6      Elation    Carnival   15  ...   10.20              34.29   9.20
7      Fantasy    Carnival   23  ...   10.22              34.23   9.20
8  Fascination    Carnival   19  ...   10.20              34.29   9.20
9      Freedom    Carnival    6  ...   14.87              29.79  11.50

[10 rows x 9 columns]

In [19]:
features = dataset[['Tonnage', 'passengers', 'length', 'cabins']]

In [20]:
features.head()

   Tonnage  passengers  length  cabins
0   30.277        6.94    5.94    3.55
1   30.277        6.94    5.94    3.55
2   47.262       14.86    7.22    7.43
3  110.000       29.74    9.53   14.88
4  101.353       26.42    8.92   13.21

In [21]:
target = dataset[['crew']].values.ravel()

In [22]:
 X_train, X_test, y_train, y_test = train_test_split(features, target, test_size=0.33, random_state=42)

In [23]:
linear_regression(X_train, y_train)

In [24]:
predicted_values = predict(X_test)
accuracy(y_test, predicted_values)

0.7714178850228017